/****************************************************************************/
/* STILE DELLA CHAT E DEI PANNELLI */

/* HELP: Da qui è possibile modificare:
- I font ed i colori della chat
- Le dimensioni e la posizione della chat
- Lo sfondo della chat*/

iframe.iframe_chat {
    border: none;
    width: 1px;
    height: 1px;
    margin: 0px;
}

div.chat_window {
    text-align: center;
}

/**	* Fix per layout elastico
	* @author Blancks
*/

div.page_body_chat{
    display: flex;
    flex-direction: column;
}

div.chat_box {
    /*position: absolute;
    top: 50px;
    bottom: 160px;
    left: 10px;
    right: 10px;*/
    min-height: 50vh;
    max-height: 50vh;
    background-image: url("imgs/sfondo-chat.png");
    overflow: auto;
    font-size: 14px;
    text-align: left;
}

.chat_pannello {
	display: flex;
	align-items: end;
	height: 150px;
}

div.pagina_frame_chat div.page_body div.panels_box {
    /*position: absolute;
    bottom: 9px;
    left: 5px;
    right: 5px;*/
}

/**	* Fine fix */

/** * Avatar di chat
	* @author Blancks
*/
img.chat_avatar {
    margin: 8px;
    display: block;
    float: left;
    position: relative;
    border-radius: 5px;
    border: 2px solid #000;
}

/***** testo della chat *****/

/* Tipi messaggio: (A azione, P parlato, N PNG, M Master, I Immagine, S sussurro, D dado, C skill check, O uso oggetto) */


div.msg_box {
    background-color: #7774743b;
    border-radius: 5px;
    border: 1px solid #1d0c06;
    padding: 10px;
}

.chat_tag{
    color: #bea68b;
}

div.chat_row_A {
    margin-top: 3px;
}

div.chat_row_A span.color2 {
    margin-top: 3px;
    color: gray;
    font-weight: bolder;
}

div.chat_row_P {
    margin-top: 3px;
}

div.chat_row_P span.color2 {
    margin-top: 3px;
    color: goldenrod;
    font-weight: bolder;
}

div.chat_row_M {
    margin-top: 3px;
    border-width: 2px;
    border-color: #b28a4f;
    border-style: solid;
    text-align: center;
    color: #b28a4f;
}

div.chat_row_M span.color2 {
    margin-top: 3px;
    color: goldenrod;
    font-weight: bolder;
}

div.chat_row_N {
    margin-top: 3px;
}

div.chat_row_N span.color2 {
    color: #000;
    font-weight: bolder;
}

div.chat_row_I {
    margin-top: 3px;
    text-align: center;
}

div.chat_row_S {
    margin-top: 3px;
}

div.chat_row_D {
    margin-top: 3px;
    border-width: 2px;
    border-color: #b28a4f;
    border-style: solid;
    font-family: 'Alegreya Sans SC', sans-serif;
    
}

div.chat_row_C {
    margin-top: 3px;
    border-width: 2px;
    border-color: #b28a4f;
    border-style: solid;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.punti_fato_msg{
    font-weight: bold;
}

span.chat_time {
    font-size: 10px;
    font-weight: bolder;
    margin-right: 3px;
}

span.chat_name {
    font-weight: bolder;
    font-size: 16px;
    color: #000;
}

div.chat_msg {
    font-size: 14px;
}

span.chat_master {
}

span.chat_me, span.chat_me_master {
    color: #e7d1a1;
}

/***** form inserimento *****/

div.form_row {
    clear: both;
    height: 20px;
}

div.casella_chat {
    float: left;
    margin-bottom: 6px;
}


.input_chat_frame{
    
width: 80%;
margin-bottom: 0px;
box-shadow: 0px 0px 20px 3px inset #000;
background-color: black;
border: 1px solid #b28a4f;
color: #b6a391;
}

/*Casella Tag*/
input#tag {
    width: 90px;
    margin-right: 5px;
}

/*Casella Messaggio*/
input#message {
    width: 280px;
}

/****************************************************************************/

.contenitore-form {
    color: #d2c6aa;
    border-top: 1px solid #b28a4f;
    border-radius: 5px 5px 5px 5px;
    padding:5px;
    background-image: url("imgs/sfondo-chat.png");
    box-shadow: 0px 0px 20px 3px inset #000;
    font-size: 13px;
}

.chat_form_branci {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 10px;
	margin-bottom: 0px;
	align-items: baseline;
	padding: 5px 0px 0px 5px;
        width: 88%
}

.dice_form_branci {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-top: 10px;
margin-bottom: 0px;
align-items: baseline;
padding: 5px 0px 0px 5px;
}

.chat_elements {
	display: flex;
	width: 95%;
}

.save_elements {
    display: flex;
    width: 10%;
    justify-content: center;
    border-left: 2px solid black;
    height: 100px;
    align-items: center;
}

input[type="submit"] {
	width: auto;
	margin: 0px 0 15px 0;
}

.d-flex {
    display: flex;
    align-items: center;
    width: 100%
}