/* 
    Created on : 7 mar 2023, 23:48:59
    Author     : Claudio
*/
.tratti_voce {
    display: flex;
    justify-content: space-between;
}

.box_tratto_elem {
    background-image: url("imgs/scheda/sfondo-note.png");
    padding: 5px;
    color: #FFDBAD;
    text-transform: uppercase;
    
}

.riga_tratto {
    display: flex;
    justify-content: space-evenly;
}

